<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Book/Authors Django</title>
</head>
    <body>
        <div class="container-flush m-2">
            <div class="row justify-content-between">
                <div class="col-4">
                    <h1 class="text-dark mb-4">
                        Add an Author
                    </h1>      
                    <form action="create_author" method="POST">
                        {% csrf_token %}
                        <div class="form-group-row">
                            <label for="first_name" class="col-form-label-lg pr-5">First Name</label>
                            <input type="text" name="first_name" class="form-control-sm" id="first_name">
                        </div>
                        <div class="form-group-row">
                            <label for="last_name" class="col-form-label-lg pr-5">Last Name</label>
                            <input type="text" name="last_name" class="form-control-sm" id="last_name">
                        </div>
                        <div class="form-group-row">
                            <label for="notes" class="col-form-label-lg">Notes</label>
                            <textarea class="form-control" name="notes" id="notes" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary px-5 py-1 my-2 ml-2">Add</button>
                    </form>
                </div>
                <div class="col-6 mr-5">
                    <h1 class="text-dark mb-4">
                        List of all Authors
                    </h1>      
                    {% comment %} All users listed on a table here. {% endcomment %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for author in authors %}
                            <tr>
                                <th>{{ author.id }}</th>
                                <th>{{ author.first_name }} {{ author.last_name }}</th>
                                <th><a href="/authors/{{ author.id }}">View</a></th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>